:root 
{
    --displayMode: inline-block;
    --firstMargin: 1rem 2rem 1rem 0rem;
    --secondMargin: 1rem 2rem 1rem 0rem;
    --thirdMargin: 1rem 2rem 1rem 0rem;
    --lastMargin: 1rem 0rem 1rem 0rem;
    --projectTypeWidth: 10rem;
    --textAlign: inherit;
}

main 
{
    display: flow-root;
}

.container 
{
    margin-top: 0rem;
    padding: 0.5rem;
}

main .layer 
{
    background-color: rgba(146, 182, 213, .3);
    border-radius: 1rem;
    color: white;
}

main .layerContent 
{
    border-radius: 1rem;
}

#getInTouch
{
    clear: both;
}

#columnsContainer 
{
    background-color: var(--mainColor);
    margin-top: 1rem;
    display: flow-root;
    color: var(--backgroundColor);
}

#columnsContainer > h2
{
    text-align: center;
    padding: 1rem;
    padding-bottom: 1.5rem;
}

#column1, #column2
{
    width: 50%;
    float: left;
    background-color: inherit;
    position: relative;
    z-index: 2;
}

#column2 
{
    float: right;
    z-index: 1;
}

#meContainer 
{
    position: relative;
    width:16rem;
    max-width: 100%;
    margin: 0 auto;
}

#me 
{
    width: 14rem;
    height: 14rem;
    margin: 0 auto;
    margin-bottom: .5rem;
    max-width: 100%;
    border-radius: 50%;
    background-color: var(--backgroundColor);
    color: black;
    overflow: hidden;
}

#elegible 
{
    position: absolute;
    width: 20rem;
    max-width: 70%;
    border: 1px solid black;
    padding: .5rem 2rem;
    padding-left: .2rem;
    top: -0.5rem;
    right: -1.7rem;
    background-color: #F6F6F6;
    color: black;
    border-radius: 1rem;
    transform: rotate(35deg);
    font-weight: bold;
    z-index: 3;
}

#elegible img 
{
    position: absolute;
    top:0.2rem;
    right: 0.1rem;
    width: 2rem;
    height: 3.9rem;
}

.layer #me img {
    width: 14rem;
    height: 14rem;
}

#description 
{
    margin-top: .5rem;
    margin-bottom: 1rem;
    text-align: start;
}

#techSkills dl 
{
    list-style-type: none;
    text-align: start;
    padding: 0.5rem;
    padding-top: 0rem;
}

#techSkills dl dt 
{
    text-align: center;
    font-weight: bolder;
    padding: 1rem;
    padding-bottom: 0.3rem;
}

#techSkills dl > div 
{
    background-color: rgba(137, 207, 240,0.2);
    border-radius: 1rem;
    box-shadow: 3px 3px 0px 2px black;
}

#techSkills dl dd 
{
    padding: 0.5rem;
}

#techSkills dl dd img
{
    width: 1rem;
    height: 1rem;
    position: relative;
    top: 0.1rem;
}

#projectContainer 
{
    margin: 0 auto;
    margin-top: 1rem;
    width: 23rem;
    max-width: 100%;
    display: flow-root;
}

.projectType
{
    padding: 1rem;
    background-color: var(--backgroundColor);
    color: black;
    border-radius: 1rem;
    width: var(--projectTypeWidth);
    max-width: 100%;
    font-weight: bolder;
    display: var(--displayMode);
    text-align: var(--textAlign);
    position: relative;
}

.projectType:first-of-type 
{
    margin: var(--firstMargin);
}

.projectType:nth-of-type(2)
{
    margin: var(--secondMargin);
}

.projectType:nth-of-type(3)
{
    margin: var(--thirdMargin);
}

.projectType:last-of-type 
{
    margin: var(--lastMargin);
}

.projectType a 
{
    text-decoration: none;
    color: blue;
}

.projectType p 
{
    text-align: start;
}

.projectType img 
{
    padding-top: 0.9rem;
    max-width: 100%;
    width: 9rem;
    height: 9rem;
}

.projectType span 
{
    display: block;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    background-color: red;
    left: 0px;
    bottom: 0px;
    right: 0px;
    padding: .3rem;
    border-radius: 0rem 0rem 1rem 1rem;
}

.projectType:nth-of-type(1)  span
{
    background-color: var(--desktopBackground);
}

.projectType:nth-of-type(2)  span
{
    background-color: var(--mobileBackground);
}

.projectType:nth-of-type(3)  span
{
    background-color: var(--webBackground);
}

.projectType:nth-of-type(4)  span
{
    background-color: black;
}

.degree, .lang 
{
    text-align: start;
}

.degree a 
{
    color: blue;
}

.lang 
{
    display: flow-root;
    height: 4rem;
    max-height: 100%;
}

.lang img 
{
    display: block;
    float: left;
    margin-right: 1rem;
}

.lang p 
{
    position: relative;
    top:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.lang span 
{
    font-style: italic;
}

/*MEDIA QUERY*/
@media screen and (max-width:1601.5px) 
{
    :root 
    {
        --secondMargin: 1rem 0rem 1rem 0rem;
    }
}
@media screen and (max-width:813.5px) 
{
    :root 
    {
       --displayMode:block;
       --firstMargin: 1rem 0rem;
       --secondMargin: 1rem 0rem;
       --thirdMargin: 1rem 0rem;
       --lastMargin: 1rem 0rem;   
       --textAlign: start;
       --projectTypeWidth: 100%;
    }

    .projectType a 
    {
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 599.5px) and (min-width: 500.5px)
{
    #elegible 
    {
        top: -0.5rem;
        right: -3rem;
    }
}

@media screen and (max-width: 550.5px) {
    .layerTitle, .layerContent {
        padding: 0.5rem;
    }
}

@media screen and (max-width:500.5px) 
{
    #column1, #column2 
    {
        float: none;
        width: 100%;
    }

    #columnsContainer > h2
    {
        padding-bottom: 2rem;
    }
}