main 
{
    display: flow-root;
}

.container 
{
    padding: 0.5rem;
}

main .layer 
{
    background-color: var(--backblue);
    color: var(--backgroundColor);
    border-radius: 1rem;
}

main .layerContent 
{
    border-radius: 1rem;
}

#getInTouch
{
    clear: both;
}

#column1, #column2
{
    width: 50%;
    margin-top: 1rem;
    float: left;
    background-color: var(--mainColor);
}

#column2 
{
    float: right;
}

#aboutMe, #storyLine, #projects, #techSkills 
{
    background-color: var(--mainColor);
}

#me 
{
    width: 14rem;
    height: 14rem;
    margin: 0 auto;
    margin-bottom: .5rem;
    max-width: 100%;
    border-radius: 50%;
    background-color: var(--backgroundColor);
    overflow: hidden;
}

.layer #me img {
    width: 14rem;
    height: 14rem;
}

#description 
{
    margin-top: .5rem;
    margin-bottom: 1rem;
    text-align: start;
}

#techSkills ul 
{
    list-style-type: none;
    border: 1px solid black;
    text-align: start;
    padding: 0.5rem;
}

#projectContainer 
{
    margin: 0 auto;
    margin-top: 1rem;
    width: 25rem;
    max-width: 70%;
    display: flow-root;
}

.projectType
{
    padding: 1rem;
    background-color: var(--backgroundColor);
    color: black;
    font-weight: bolder;
    border-radius: 1rem;
    width: fit-content;
    display: flow-root;
    margin-bottom: 1rem;
    width: 10rem;
    max-width: 100%;
    position: relative;
    overflow-wrap: break-word;
    float: left;
}

.projectType a 
{
    text-decoration: none;
    color: blue;
}

.projectType p 
{
    text-align: start;
}

.projectType img 
{
    padding-top: 0.9rem;
    max-width: 100%;
    width: 9rem;
    height: 9rem;
}

.projectType span 
{
    display: block;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    background-color: red;
    left: 0px;
    bottom: 0px;
    right: 0px;
    padding: .3rem;
    border-radius: 0rem 0rem 1rem 1rem;
}

#projectContainer .projectType:nth-of-type(even) 
{
    float: right;
}

#projectContainer .projectType:nth-of-type(1)  span
{
    background-color: var(--desktopBackground);
}

#projectContainer .projectType:nth-of-type(2)  span
{
    background-color: var(--mobileBackground);
}

#projectContainer .projectType:nth-of-type(3)  span
{
    background-color: var(--webBackground);
}

#projectContainer .projectType:nth-of-type(4)  span
{
    background-color: black;
}
