:root 
{
    --displayMode: inline-block;
    --firstMargin: 1rem 2rem 1rem 0rem;
    --secondMargin: 1rem 2rem 1rem 0rem;
    --thirdMargin: 1rem 2rem 1rem 0rem;
    --lastMargin: 1rem 0rem 1rem 0rem;
    --projectTypeWidth: 10rem;
    --textAlign: inherit;
}

header 
{
    letter-spacing: .1rem;
}

h3, h2, strong, dt, .projectType a 
{
    letter-spacing: .1rem;
}

main 
{
    display: flow-root;
}

.container 
{
    margin-top: 0rem;
    padding: 0.5rem;
}

main .layer 
{
    background-color: rgba(146, 182, 213, .3);
    border-radius: 1rem;
    color: white;
    height: 100%;
}

main .layerContent 
{
    border-radius: 1rem;
    height: 100%;
}

.layerContent h2, .layerContent h3 
{
    text-align: center;
}

#getInTouch
{
    clear: both;
}

#columnsContainer 
{
    background-color: var(--mainColor);
    margin-top: 1rem;
    display: flow-root;
    color: var(--backgroundColor);
}

#columnsContainer > h2
{
    text-align: center;
    padding: 1rem;
    padding-bottom: 1.5rem;
}

#column1, #column2
{
    width: 50%;
    float: left;
    background-color: inherit;
    position: relative;
    padding-bottom: 1rem;
    z-index: 2;
}

#column2 
{
    float: right;
    z-index: 1;
}

#storyLine 
{
    height: 100%;
    max-height: 100%;
}

#meContainer 
{
    position: relative;
    width:16rem;
    max-width: 100%;
    margin: 0 auto;
}

#me 
{
    width: 14rem;
    height: 14rem;
    margin: 0 auto;
    margin-bottom: .5rem;
    max-width: 100%;
    border-radius: 50%;
    background-color: var(--backgroundColor);
    color: black;
    overflow: hidden;
}

.layer #me img {
    padding-right: 1rem;
    width: 14rem;
    height: 14rem;
}

#description 
{
    margin-top: .5rem;
    margin-bottom: 1rem;
    text-align: start;
}

#techSkills dl 
{
    list-style-type: none;
    text-align: start;
    padding: 0.5rem;
    padding-top: 0rem;
}

#techSkills dl dt 
{
    text-align: center;
    font-weight: bolder;
    padding: 1rem;
    padding-bottom: 0.3rem;
}

#techSkills dl > div 
{
    background-color: rgba(137, 207, 240,0.2);
    border-radius: 1rem;
    box-shadow: 3px 3px 0px 2px black;
}

#techSkills dl dd 
{
    padding: 0.5rem;
}

#techSkills dl dd img
{
    width: 1rem;
    height: 1rem;
    position: relative;
    top: 0.1rem;
}

/*OVERRIDE PROJECTS CSS*/
#projectContainer 
{
    width: 28.1rem;
    margin-top: 1rem;
    max-width: 100%;
    border-radius: 1rem;
    display: flow-root;
    background-color: transparent;
}

.projectType:nth-of-type(even) 
{
    margin-right: 0rem;
}

.projectType:nth-of-type(odd) 
{
    margin-right: 2rem;
}

.projectType:last-of-type span 
{
    background-color: black;
}

.degree, .lang 
{
    text-align: start;
}

.degree a 
{
    color: blue;
    font-family: var(--titleFont);
}

.lang 
{
    display: flow-root;
    height: 4rem;
    max-height: 100%;
}

.lang img 
{
    display: block;
    float: left;
    margin-right: 1rem;
}

.lang p 
{
    position: relative;
    top:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.lang span 
{
    font-style: italic;
}
.lang:last-of-type 
{
    margin-top: 1rem;
} 

/*story*/
#storyContent 
{
    padding: 0.5rem 0;
    color: black;
}

#startStory 
{
    width: 6rem;
    height: 6rem;
    padding: 1rem;
    margin: 0 auto;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    font-weight: bolder;
    position: relative;
    z-index: 1;
    letter-spacing: .1rem;
}

#startStory p 
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#eventLayer 
{
    width: 100%;
    border: 1px solid transparent;
    position: relative;
    z-index: 1;
}

#eventLine 
{
    width: .2rem;
    height: 100%;
    padding: .1rem;
    background-color: white;
    position: absolute;
    left: 0px;
    top:0px;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    margin: 0 auto;
}

.eventContainer 
{
    text-align: start;
    padding: 1rem 0rem;
    width: 100%;
    position: relative;
    display: flow-root;
}

.mileStone, .arrow
{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top:50%;
    transform: translateY(-50%);
}

.mileStone
{
    background-color: white;
    border-radius: 1rem;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    z-index: 4;
}

.breakContainer 
{
    background-color:#6487B0;
    position: relative;
    z-index: 2;
    padding: .5rem;
    margin: 0.2rem 0;
}

.arrow 
{
    width: 100%;
    height: .1rem;
    z-index: 1;
    padding: .1rem;
    background-color: white;
}

.mileStone p 
{
    padding: .2rem 1rem;
}

.floated 
{
    float: right;
    display: flow-root;
    width: 50%;
    height: 100%;
    max-height: 100%;
    position: relative;
}

.eventContainer:nth-of-type(even) .floated 
{
    float: left;
}

.eventContainer:nth-of-type(even) .floated .event 
{
    margin: 0;
    margin-right: auto;
}

.event 
{
    width: 70%;
    position: relative;
    margin-left: auto;
    display: flow-root;
    background-color: white;
    border-radius: 1rem;
    padding: .5rem;
    z-index: 2;
}

.event p 
{
    float: left;
}

.event a 
{
    display: inline-block;
    border: 2px solid transparent;
    border-radius: 50%;
    padding: .29rem;
    position: relative;
    right: 0;
    animation-name: hilight;
    animation-duration: .8s;
    border-color: var(--backgroundColor);
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction: alternate-reverse;
    overflow: hidden;
}

@keyframes hilight
{
    0% 
    {
        border-color: var(--backgroundColor);
    }

    100% 
    {
        border-color: var(--webBackground);
    }
}

.event img 
{
    float: right;
    max-width: 2rem;
    max-height: 2rem;
    background-color: inherit;
}

/*MEDIA QUERY*/
@media screen and (max-width:1601.5px) 
{
    :root 
    {
        --secondMargin: 1rem 0rem 1rem 0rem;
    }
}

@media screen and (max-width:991.5px) 
{
    .projectType:nth-of-type(odd) 
    {
        margin-right: 1rem;
    }
}

@media screen and (max-width:976.5px)  and (min-width:901.5px) 
{
    .event 
    {
        font-size: .9rem;
    }
}

@media screen and (max-width:959.5px) 
{
    .projectType 
    {
        float: none;
        width: 100%;
        margin: 0;
        margin-bottom: 1rem;
    }

    .projectType:last-of-type 
    {
        margin-bottom: 0rem;
    }
}

@media screen and (max-width:901.5px) 
{
    .eventContainer
    {
        border: 1px solid black;
        padding: 0.5rem 0rem;
        padding-top: 0.7rem;
        background-color: white;
        border-radius: 1rem;
        margin: 1rem 0;
        display: block;
        z-index: 2;
    }

    .eventContainer:nth-of-type(even) .floated 
    {
        float: none;
    }
    .eventContainer .floated 
    {
        float: none;        
        width: 100%;
    }

    .mileStone 
    {
        position: static;
        margin-top: .3rem;
        font-weight: bolder;
        width: 100%;
        text-align: center;
        background-color: var(--backgroundColor);
        border-radius: 1rem 1rem 0rem 0rem;
    }

    .event 
    {
        width: 100%;
        padding: 0 .5rem;
        text-align: center;
    }

    .event a
    {
        display: block;
        width: fit-content;
        height: 2.8rem;
        margin: 0 auto;
        position: static;
    }

    .event img, .event p 
    {
        float: none;
    }

    .arrow 
    {
        display: none;
    }
}

@media screen and (max-width:813.5px) 
{
    :root 
    {
       --displayMode:block;
       --firstMargin: 1rem 0rem;
       --secondMargin: 1rem 0rem;
       --thirdMargin: 1rem 0rem;
       --lastMargin: 1rem 0rem;   
       --textAlign: start;
       --projectTypeWidth: 100%;
    }
}

@media screen and (max-width: 958.5px)
{
    header 
    {
        font-size: 2rem;
    }
}

@media screen and (max-width: 550.5px) {
    .layerTitle, .layerContent {
        padding: 0.5rem;
    }
}

@media screen and (max-width:500.5px) 
{
    #column2 
    {
        height: initial;
    }

    #column1, #column2 
    {
        float: none;
        width: 100%;
    }

    #columnsContainer > h2
    {
        padding-bottom: 2rem;
    }

    #storyLine 
    {
        max-height: initial;
        height: initial;
    }
}

@media screen and (max-width:419.5px) 
{
    header 
    {
        font-size: 1rem;
    }   
}