#dataNotFoundContainer 
{
    display: none;
}

#dataNotFoundContainer h3
{
    letter-spacing: 1px;
}

#dataNotFoundImgContainer 
{
    position: relative;
}

#dataNotFoundImgContainer div 
{
    width: 40%;
    height: 20rem;    
}

#dataNotFoundImgContainer div:first-child
{
    background-color: #925AEF;
    float: left;
}

#dataNotFoundImgContainer div:nth-child(2)
{
    background-color: #D5BCFF;
    float: right;
}

#dataNotFoundImgContainer img 
{
    width: 50%;
    display: block;
    max-width: 100%;
    height: 20rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 0 auto;
}

/*MEDIA QUERY*/
@media  screen and (max-width:647.5px)
{
    #dataNotFoundImgContainer img
    {
        width: auto;
    }
}
