#promo h1
{
    color: green;
}

#devEnv li:nth-last-of-type(2) 
{
    background-color: var(--mobileBackground);
}

#devEnv li:nth-last-of-type(3) 
{
    background-color: var(--webBackground);
}

.winOnly 
{
    width: fit-content;
    margin: 0 auto;
    padding: 0.5rem;
    font-size: 0.8rem;
}

.winOnly img 
{
    top:0.5rem;   
}

@media screen and (max-width:350.5px) 
{
    .winOnly span:nth-child(2) 
    {
        display: block;
        position: static;
        width: fit-content;
        margin: auto;
    }
}

@media screen and (max-width:320.5px) 
{
    .winOnly 
    {
        text-align: center;
    }
}