#columnsContainer::after {
    content: "";
    border-radius: 1rem;
    background-image: url(https://cdn.educba.com/academy/wp-content/uploads/2019/06/Step-3.jpg);
    opacity: .2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

#promo h1
{
    color: #006B54;
}

#devEnv li:nth-last-of-type(2) 
{
    background-color: var(--mobileBackground);
}

#devEnv li:nth-last-of-type(3) 
{
    background-color: var(--webBackground);
}

.winOnly 
{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 0.5rem 0;
    font-size: 0.8rem;
}

.winOnly img 
{
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    top:0.5rem;   
}

@media screen and (max-width: 456.5px) 
{
    .winOnly 
    {
        width: 100%;
    }
}

@media screen and (max-width: 414.5px) 
{
    .winOnly span 
    {
        display: block;
        text-align: center;
    }
}