#columnsContainer::after {
    content: "";
    border-radius: 1rem;
    background-image: url(https://cdn.educba.com/academy/wp-content/uploads/2019/06/Step-3.jpg);
    opacity: .2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

#promo h1
{
    color: #006B54;
    font-weight: bolder;
    text-shadow: -1px -1px 10px white, 1px 1px 10px white;
}

#devEnv li:nth-last-of-type(2) 
{
    background-color: var(--mobileBackground);
}

#devEnv li:nth-last-of-type(3) 
{
    background-color: var(--webBackground);
}

.winOnly 
{
    width: 24.1rem;
    margin: 0 auto;
    padding: 0.5rem;
    font-size: 0.8rem;
}

.winOnly img 
{
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    top:0.5rem;   
}

@media screen and (max-width: 425.5px) 
{
    .winOnly 
    {
        font-size: 0.7rem;
        margin: 0;
        width: auto;
    }
}

@media screen and (max-width: 390.5px) 
{
    .winOnly span 
    {
        display: block;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 362.5px) 
{
    .winOnly 
    {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 319.5px) 
{
    .winOnly 
    {
        font-size: 0.5rem;
    }
}
