#promo h1
{
    color: green;
}

#devEnv li:nth-last-of-type(2) 
{
    background-color: var(--mobileBackground);
}

#devEnv li:nth-last-of-type(3) 
{
    background-color: var(--webBackground);
}

.winOnly 
{
    width: fit-content;
    margin: 0 auto;
    padding: 0.5rem;
    font-size: 0.8rem;
}

.winOnly img 
{
    top:0.5rem;   
}

@media screen and (max-width: 425.5px) 
{
    .winOnly 
    {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 388.5px) 
{
    .winOnly span:last-child
    {
        display: block;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 360.5px) 
{
    .winOnly 
    {
        font-size: 0.6rem;
    }
}
