header 
{
    letter-spacing: .3rem;
}

#columnsContainer 
{
    display: flow-root;   
    font-family: inherit;
}

#column1 
{
    width: 30%;
    max-width: 30%;
    float: left;
    text-align: center;
    font-family: inherit;
}

#column2 
{
    width: 70%;
    height: 15rem;
    max-height: 15rem;
    float: right;
    font-family: inherit;
}

.promoImgContainer img 
{
    width: 100%;
    max-width: 14rem;
    min-height: 13.5rem;
}

#promo 
{
    font-size: 1.4rem;
    font-family: inherit;

    text-align: center;
    text-shadow: 0px 0px 10px white;

    max-width: 100%;
    padding: 0.5rem;
    overflow-wrap: break-word;
    position: relative;
    left: 0%;
    top:50%;
    transform: translateY(-50%);
}

#promo h1
{
    font-weight: bolder;
    text-shadow: -1px -1px 10px white, 1px 1px 10px white;
}

.container
{
    padding: 1rem 0.5rem;
}

.layerContent
{
    color: black;
    padding-bottom: 0.1rem;
    background-color: white;
}

.feature 
{
    position: relative;
}

.feature > img:first-child
{
    float: left;
    border-radius: 1rem;
    padding: 0.2rem;
    width: 12rem;
    height: 10rem;
    margin-right: 1rem;
    border: 0.01rem solid;
}

.cIt 
{
    padding: 0.5rem;
    position: relative;
    margin-left: auto;
    text-align: end;
}

.cIt a 
{
    color: black;
    text-decoration: none;
}

.cIt img  
{
    position: relative;
    left: 0px;
    top:0.2rem;
    width: 1.5rem;
    height: 1.5rem;
}

#devEnv li 
{
    width: 50%;
    text-align: center;
}


/*MEDIA QUERY*/
@media screen and (max-width: 704.5px) 
{
    header 
    {
        font-size: 2rem;
    }
}

@media screen and (max-width: 500.5px) 
{
    #column1, #column2 
    {
        float: none;
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    #promo 
    {
        top:0%;
        transform: translateY(0%);
    }

    #intro .layerContent 
    {
        padding: 0rem 0rem;
    }

    #devEnv li 
    {
        width: 100%;
    }
}

@media screen and (max-width:514.5px)
{
    header 
    {
        font-size: 1rem;
    }
}

@media screen and (max-width:426.5px)
{
    .feature > img:first-child
    {
        float: none;
        width: 100%;
        height: 15rem;
        margin: 0;
        margin-bottom: 0.5rem;
    }

    .feature h2 
    {
        text-align: center;
        margin-bottom: 0.5rem;
    }

    #promo h2 
    {
        font-size: 1.2rem;
    }    
}

@media screen and (max-width:379.5px)
{
    #promo h2 
    {
        font-size: 1.1rem;
    }
}

@media screen and (max-width:349.5px)
{
    #promo h2 
    {
        font-size: 1rem;
    }
}

@media screen and (max-width:325.5px)
{
    header 
    {
        letter-spacing: .1rem;
    }
}

@media screen and (max-width:320.5px)
{
    #promo h2 
    {
        font-size: 0.9rem;
    }
}