header 
{
    letter-spacing: .3rem;
}

#columnsContainer 
{
    display: flow-root;   
    font-family: inherit;
}

#column1 
{
    width: 30%;
    max-width: 30%;
    float: left;
    text-align: center;
    font-family: inherit;
}

#column2 
{
    width: 70%;
    height: 15rem;
    max-height: 15rem;
    float: right;
    font-family: inherit;
}

.promoImgContainer img 
{
    width: 100%;
    max-width: 14rem;
    min-height: 13.5rem;
}

#promo 
{
    font-family: inherit;
    text-align: center;
    text-shadow: 0px 0px 10px white;
    max-width: 100%;
    padding: 0rem;
    overflow-wrap: break-word;
    position: relative;
    left: 0%;
    top:50%;
    transform: translateY(-50%);
}

#promo h1
{
    font-weight: bolder;
    font-size: 2.2rem;
    text-shadow: -1px -1px 10px white, 1px 1px 10px white;
}

#promo h2 
{
    font-size: 1.8rem;
}

.container
{
    padding: 1rem 0.5rem;
}

.layerContent
{
    color: black;
    padding-bottom: 0.1rem;
    background-color: white;
}

.feature 
{
    position: relative;
    letter-spacing: .1rem;
}

.feature > img:first-child
{
    float: left;
    border-radius: 1rem;
    padding: 0.2rem;
    width: 25%;
    min-width: 15rem;
    min-height: 15rem;
    height: 100%;
    margin-right: 1rem;
    border: 0.01rem solid;
}

#featuresContainer section:nth-of-type(odd) .feature >img:first-child 
{
    float: right;
    margin-right: 0;
}

.cIt 
{
    padding: 0.5rem;
    position: relative;
    margin-left: auto;
    text-align: end;
}

.cIt a 
{
    color: black;
    text-decoration: none;
}

.cIt img  
{
    position: relative;
    left: 0px;
    top:0.2rem;
    width: 1.5rem;
    height: 1.5rem;
}

#devEnv li 
{
    width: 50%;
    text-align: center;
}


/*MEDIA QUERY*/
@media screen and (max-width: 761.5px) and (min-width: 500.5px) 
{
    #promo h2
    {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 704.5px) 
{
    header 
    {
        font-size: 2rem;
    }
}

@media screen and (max-width:589.5px)
{
    .feature > img:first-child
    {
        float: none;
        width: 80%;
        max-width: 70%;
        min-height: 11.3rem;
        max-height: 100%;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5rem;
    }

    #featuresContainer section:nth-of-type(odd) .feature >img:first-child 
    {
        float: none;
        margin: 0 auto;
        margin-bottom: 0.5rem;
    }

    .feature h2 
    {
        text-align: center;
        margin-bottom: 0.5rem;
    }
    
    #promo 
    {
        padding: .5rem;
    }
}

@media screen and (max-width: 551.5px) and (min-width: 500.5px) 
{
    #promo h1
    {
        font-size: 1.9rem;
    }
}

@media screen and (max-width:514.5px)
{
    header 
    {
        font-size: 1rem;
    }
}

@media screen and (max-width: 500.5px) 
{
    #column1, #column2 
    {
        float: none;
        width: 100%;
        max-width: 100%;
        max-height: initial;
        height: auto;
    }

    #promo 
    {
        top:0%;
        transform: translateY(0%);
    }

    #intro .layerContent 
    {
        padding: 0rem 0rem;
    }

    #devEnv li 
    {
        width: 100%;
    }
}

@media screen and (max-width:363.5px)
{
    #promo h1
    {
        font-size: 2rem;
    }

    #promo h2
    {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:334.5px)
{
    #promo h1
    {
        font-size: 1.9rem;
    }

    #promo h2
    {
        font-size: 1.4rem;
    }
}

@media screen and (max-width:325.5px)
{
    header 
    {
        letter-spacing: .1rem;
    }
}

@media screen and (max-width:319.5px)
{
    #promo h1
    {
        font-size: 1.5rem;
    }

    #promo h2
    {
        font-size: 1.2rem;
    }
}