#intro 
{
    background-color:var(--backgroundColor)
}

#intro .layer 
{
    background-color: inherit;
}

#intro .layerContent 
{
    background-color:inherit;
    display: flow-root;
    padding: 0;
}

#intro .layerContent > img:first-child 
{
    width: 13rem;
    height: 13rem;
    margin: 0;
    border: none;
}

#column1 
{
    width: 30%;
    max-width: 30%;
    float: left;
    text-align: center;
}

#column2 
{
    width: 70%;
    float: right;
}

#promo 
{
    max-width: 35rem;
    padding: 0.8rem;
    overflow-wrap: break-word;
    text-align: center;
}

.promoImgContainer:nth-of-type(2) 
{
    float: right;
}

.promoImgContainer img 
{
    float: none;
    width: 100%;
    max-width: 14rem;
    min-height: 13.5rem;
}

.contactMeLink 
{
    clear: both;
}

main section 
{    
    background-color: var(--mainColor);
}

.container
{
    padding: 1rem 0.5rem;
}

.layerContent > img:first-child
{
    float: left;
    border-radius: 1rem;
    padding: 0.2rem;
    width: 12rem;
    height: 10rem;
    margin-right: 1rem;
    border: 0.01rem solid;
}

.layerContent
{
    color: black;
    padding: 1rem;
    padding-bottom: 0.1rem;
    text-align: start;
    background-color: white;
}

.cIt 
{
    padding: 0.5rem;
    width: fit-content;
    margin-left: auto;
    position: relative;
}

.cIt a 
{
    color: black;
    text-decoration: none;
}

.cIt img, .winOnly img  
{
    position: relative;
    left: 0px;
    top:0.2rem;
    width: 1.5rem;
    height: 1.5rem;
}

#devEnv li 
{
    width: 50%;
    text-align: center;
}

@media screen and (max-width: 693.5px) {
    #rightGroup 
    {
        top: 5.99rem;
    }

}

@media screen and (max-width: 500.5px) 
{
    #column1, #column2 
    {
        float: none;
        width: 100%;
        max-width: 100%;
    }

    #intro .layerContent 
    {
        padding: 0rem 0rem;
    }

    #devEnv li 
    {
        width: 100%;
    }
}

@media screen and (max-width:320.5px) 
{
    .layerContent > img:first-child 
    {
        float: none;
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 20rem;
    }
}