:root 
{
    --logoSize: 16rem;
    --displayMode: inline-block;
    --firstMargin: 1rem 2rem 1rem 0rem;
    --secondMargin: 1rem 2rem 1rem 0rem;
    --thirdMargin: 1rem 2rem 1rem 0rem;
    --fourthMargin: 1rem 2rem 1rem 0rem;
    --fifthMargin: 1rem 2rem 1rem 0rem;
    --sixthMargin: 1rem 2rem 1rem 0rem;
    --lastMargin: 1rem 0rem 1rem 0rem;
}

/*INTRO*/
#logoContainer 
{
    margin: 0.5rem auto;
    position: relative;
}

#logoContainer img 
{
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    background-color: inherit;
    width: var(--logoSize);
    height: var(--logoSize);
}

/*PRODUCTS*/
#programLangs, #databases, #technologies 
{
    border: 1px solid black;
    background-color: var(--mainColor);
}

/*PROGRAMMING LANGUAGES*/
.skillContainer 
{
    display: var(--displayMode)
}

.skillContainer:first-of-type 
{
    margin: var(--firstMargin);
}

.skillContainer:first-of-type+.skillContainer
{
    margin: var(--secondMargin);
}

.skillContainer:first-of-type+.skillContainer+:not(.skillContainer:last-of-type).skillContainer
{
    margin: var(--thirdMargin);
}

.skillContainer:first-of-type+.skillContainer+.skillContainer+:not(.skillContainer:last-of-type).skillContainer
{
    margin: var(--fourthMargin);
}

.skillContainer:first-of-type+.skillContainer+.skillContainer+.skillContainer+.skillContainer
{
    margin: var(--fifthMargin);
}

.skillContainer:first-of-type+.skillContainer+.skillContainer+.skillContainer+.skillContainer+.skillContainer
{
    margin: var(--sixthMargin);
}

.skillContainer:last-of-type 
{
    margin: var(--lastMargin);
}

.skillContainer img 
{
    width: 10rem;
    height: 10rem;
}

.roundBorder 
{
    overflow: hidden;
    background-color: white;
    border-radius: 50%;
}

.roundBorder img 
{
    width: 10rem;
    height: 9rem;
    padding: 0.5rem;
}

.skillContainer:last-of-type .roundBorder 
{
    background-color: #A13437;    
}

/*MEDIA QUERY*/
@media screen and (max-width:1181.5px) and (min-width:1022.5px)
{
    :root
    {
        --fifthMargin: 1rem 0rem 1rem 0rem;
    }
}

@media screen and (max-width:1022.5px) and (min-width:823.5px)
{
    :root
    {
        --fourthMargin: 1rem 0rem 1rem 0rem;
    }
}

@media screen and (max-width:823.5px) and (min-width:624.5px)
{
    :root
    {
        --thirdMargin: 1rem 0rem 1rem 0rem;
    }
}

@media screen and (max-width:624.5px) and (min-width:409.5px)
{
    :root
    {
        --secondMargin: 1rem 0rem 1rem 0rem;
        --fourthMargin: 1rem 0rem 1rem 0rem;
        --sixthMargin: 1rem 0rem 1rem 0rem;
    }
}

@media screen and (max-width:409.5px)
{
    :root 
    {
        --displayMode: block;
        --firstMargin: 1rem auto;
        --secondMargin: 1rem auto;
        --thirdMargin: 1rem auto;
        --fourthMargin: 1rem auto;
        --fifthMargin: 1rem auto;
        --lastMargin: 1rem auto;
    }

    .skillContainer .roundBorder 
    {
        width: fit-content;
        margin: 0 auto;
    }
}

@media screen and (max-width:500.5px) 
{

}

@media screen and (max-width:406.5px)
{
    .skillBelt .skillContainer
    {
        display: block;
        margin: 0 auto;
        margin-bottom: 1rem;
    }
}
