:root 
{
    --logoSize: 16rem;
}

/*INTRO*/
#logoContainer 
{
    margin: 0.5rem auto;
    position: relative;
}

#logoContainer img 
{
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    background-color: inherit;
    width: var(--logoSize);
    height: var(--logoSize);
}

/*PRODUCTS*/
#programLangs, #databases, #technologies 
{
    border: 1px solid black;
    background-color: var(--mainColor);
}

/*PROGRAMMING LANGUAGES*/
.skillContainer 
{
    margin-top: 1rem;
    margin-right: 2rem;
    display: inline-block;
}

.skillBelt .skillContainer:last-of-type 
{
    margin-right: 0rem;
}

.skillContainer img 
{
    width: 10rem;
    height: 10rem;
}

.roundBorder 
{
    overflow: hidden;
    background-color: white;
    border-radius: 50%;
}

.roundBorder img 
{
    width: 10rem;
    height: 9rem;
    padding: 0.5rem;
}

.roundBorder:last-of-type 
{
    background-color: #A13437;    
}

/*MEDIA QUERY*/
@media screen and (min-width:769px) and (max-width:1024px)
{
    .skillBelt .skillContainer:nth-of-type(5)
    {
        margin-right: 0rem;
    }
}


@media screen and (min-width:500.5px) and (max-width:768px)
{
    .skillBelt .skillContainer:nth-of-type(3)
    {
        margin-right: 0rem;
    }
}


@media screen and (max-width:500.5px) 
{

    .skillBelt .skillContainer:nth-of-type(2), .skillBelt .skillContainer:nth-of-type(4)
    {
        margin-right: 0rem;
    }
}

@media screen and (max-width:306px)
{
    .skillBelt .skillContainer
    {
       margin-right: 1rem;
    }
}

@media screen and (max-width:296px)
{
    .skillBelt .skillContainer
    {
       margin-right: 0rem;
    }
}