/*LogoContainer*/
#LogoContainer {
    text-align: center;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    background-color: inherit;
}

#LogoContainer h2, h1 
{
    background-color: inherit;
}

/*logo*/
#logo 
{
    border: 0.2rem solid black;
    text-align: center;
    width: 21rem;
    height: 21rem;
    padding: 2em;
    border-radius: 10.5rem;
    margin: 1em auto;
}

#logo img {
    width: 11rem;
    height: 11rem;
}

/*LayerContent*/
.LayerContent img {
    margin: 0 1em;
    margin-bottom: 1em;
    width: 9rem;
    height: 9rem;
}

/*DB*/
#DB h2
{
    display: inline;
}

#DBIcon {
    width: 2rem;
    height: 2rem;
    position: relative;
    background-color: inherit; 
    color: inherit;
    top: 0.5rem;
}

/*LayerContentImg*/
.LayerContentImg
{
    padding-bottom: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
}

.LayerContentImg img 
{
    background: transparent;
    background-color: transparent;
}

/*OTHERS*/
.Round {
    border: 0.01rem solid #000000;
    border-radius: 4.5rem;
    padding: 0.5em;
}

#MsAccessIcon {
    padding: 0;
}

/*Media Query Logo Size*/
@media screen and (min-width: 0px) and (max-width: 336px)
{
    #logo 
    {
        width: 10rem;
        height: 10rem;
        padding: 1em;
        border-radius: 5rem;
        font-size: 0.5rem;
        overflow: hidden;
    }

    #logo h2
    {
        font-size: 0.9rem;
    }

    #logo h3 
    {
        font-size: 0.6rem;
    }

    #logo img {
        width: 5rem;
        height: 5rem;
    }

}
