#promo h1 
{
    color: var(--mobileBackground);
}

#devEnv li:nth-last-of-type(2) 
{
    background-color: var(--desktopBackground);
}

#devEnv li:nth-last-of-type(3) 
{
    background-color: var(--webBackground);
}
