.layerContent 
{
    padding: 0;
}

.layerContentTitle 
{
    padding-top:0rem;
}

#projectDetails, #projectDescription 
{
    color: black;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: flow-root;
}

#projectDescription 
{
    background-color: white;    
    padding: 1rem;
    border-radius: 1rem;
}

#col1, #col2, #col3 
{
    float: left;
    width: 33.33%;
}

#projectImgContainer, #projectInfos, #projectFeatures 
{
    border: 1px solid black;
    background-color: white;
    border-radius: 1rem;
    width: 80%;
    margin:0 auto;
    overflow-x:auto;
}

#projectImgContainer 
{
    width: 15rem;
    max-width: 100%;
}

#projectImgContainer img 
{
    width: 100%;
    height: 100%;
}

.tableHeader th
{
    text-align: center;  
    padding-top: .5rem;  
    padding-bottom:.5rem;
}

table 
{
    max-width: 100%;
    width: 100%;
    border-spacing: 0px;
}

table th, table td 
{
    text-align: start;
    width: 50%;
    padding: 0.5rem;
    padding-top: 0rem;
}

table td 
{
    padding-left: 0rem;
}

.layer table img 
{
    width: 2rem;
    height: 2rem;
    padding: 0rem;
    display: block;
}

#readerTitle 
{
    padding-bottom: .5rem;
}

#readerContent 
{
    text-align: start;
    line-height: 1.6;
    padding-bottom: .5rem;
    overflow: auto;
    max-height: 10rem;
}

@media screen and (max-width:815.5px)
{
    #col2, #col3 
    {
        font-size: .9rem;
    }

    #projectInfos, #projectFeatures 
    {
        width: 85%;
    }
}

@media screen and (max-width:719.5px)
{
    #projectDetails 
    {
        padding: .2rem;
    }

    #col2, #col3 
    {
        font-size: .8rem;
    }

    #projectInfos, #projectFeatures 
    {
        width: 90%;
    }
}

@media screen and (max-width:630.5px)
{
    #col2, #col3 
    {
        font-size: .74rem;
    }

    #projectInfos, #projectFeatures 
    {
        width: 95%;
    }
}