header 
{
    letter-spacing: .4rem;
}

.layerContent 
{
    padding: 0;
}

.layerContentTitle 
{
    padding-top:0rem;
}

#projectDetails, #projectDescription 
{
    color: black;
    margin-bottom: 1rem;
    display: flow-root;
}

#projectDescription 
{
    background-color: white;    
    padding: 1rem;
    border-radius: 1rem;
}

#col1, #col2, #col3 
{
    float: left;
    width: 33.33%;
}

#projectImgContainer, #projectInfos, #projectFeatures 
{
    background-color: white;
    border-radius: 1rem;
    width: 80%;
    margin:0 auto;
    overflow-x:auto;
}

#projectImgContainer 
{
    width: 20%;
    min-width: 80%;
    max-width: 100%;
    height: 16rem;
    overflow: hidden;
    border: 1px solid black;
}

#projectImgContainer img 
{
    display: block;
    width: 100%;
    height: inherit;
}

/*TABLE*/
.tableHeader th
{
    text-align: center;  
    padding-top: .5rem;  
    padding-bottom:.5rem;
    background-color: rgba(146, 182, 213, .3);
}

table 
{
    max-width: 100%;
    width: 100%;
    border-spacing: 0px;
}

th, td 
{
    text-align: start;
    padding: 0.5rem;
    padding-top: 0rem;
}

th 
{
    letter-spacing: .1rem;
}

td 
{
    padding-left: 0rem;
}

td a 
{
    display: block;
}

.layer table img 
{
    width: 2rem;
    height: 2rem;
    padding: 0rem;
    display: block;
}

/*READER*/
#readerTitle 
{
    padding-bottom: .5rem;
}

#readerContent 
{
    text-align: start;
    line-height: 1.6;
    padding-bottom: .5rem;
    overflow: auto;
    max-height: 10rem;
}

/*MEDIA QUERY*/
@media screen and (max-width:739.5px) and (min-width:519.5px)
{
    #project
    {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    #projectDescription 
    {
        margin: 0rem 1rem;
    }

    #col2, #col3 
    {
        font-size: .9rem;
    }

    #projectImgContainer 
    {
        height: 13rem;
    }
}

@media screen and (max-width:655.5px) and (min-width:519.5px)
{
    #col2, #col3 
    {
        font-size: .8rem;
    }

    #projectImgContainer 
    {
        height: 12rem;
    }
}

@media screen and (max-width:584.5px) and (min-width:519.5px)
{
    #projectImgContainer, #projectInfos, #projectFeatures
    {
        width: 90%;
    }

    #projectImgContainer 
    {
        height: 11rem;
    }
}

@media screen and (max-width:519.5px) and (min-width:415px)
{
    #projectImgContainer 
    {
        min-width: 50%;
    }
}

@media screen and (max-width:519.5px)
{
    #col1, #col2, #col3 
    {
        float: none;
        width: 100%;
        margin-bottom: 1rem;
    }

    td, th , tr
    {
        display: block;
        text-align: center;
        width: 100%;
    }

    .tableHeader 
    {
        padding: 0;
    }

    tr 
    {
        padding: .5rem;
    }

    table td, table th
    {
        text-align: center;
        padding:0;
    }

    table td a img
    {
        margin: 0 auto;
    }
}

@media screen and (max-width:464.5px)
{
    header 
    {
        font-size: 2rem;
    }
}

@media screen and (max-width:340.5px)
{
    header 
    {
        font-size: 1rem;
    }
}
