#projects 
{
    letter-spacing: .2rem;
}

#projects h2 
{
    text-transform: uppercase;
}

#projectContainerBackground 
{
    background-color:#6487B0;
    border-radius: 1rem;
}

#projectContainer 
{
    width: fit-content;
    margin: 0 auto;
    display: flow-root;
}

.projectType 
{
    float: left;
    border-radius: 1rem;
    width: fit-content;
    padding: 2rem;
    margin: 1rem 2rem;
    margin-left: 0rem;
    font-weight: bolder;
    color: black;
    letter-spacing: normal;
    text-transform: capitalize;
    text-align: start;
    background-color: var(--backgroundColor);
    position: relative;
}

.projectType a  
{
    letter-spacing: .1rem;
}

.projectType span 
{
    width: 100%;
    border-radius: 0 0 1rem 1rem;
    padding: .3rem;
    position: absolute;
    left: 0;
    bottom: 0;
}

.projectType:first-of-type span 
{
    background-color: var(--desktopBackground);
}

.projectType:first-of-type
{
   color: var(--desktopBackground);
}

.projectType:nth-of-type(2) span 
{
    background-color: var(--mobileBackground);
}

.projectType:nth-of-type(2)
{
    color: var(--mobileBackground);
}

.projectType:last-of-type span 
{
    background-color: var(--webBackground);
}

.projectType:last-of-type 
{
    color: var(--webBackground);
    margin-right: 0rem;
}

.projectType a 
{
    color: blue;
    font-family: var(--titleFont);
    text-decoration: none;
}

.projectType img 
{
    width: 9rem;
    max-width: 100%;
    height: 9rem;
}

/*MEDIA QUERIES*/

@media screen and (max-width:752.5px) and (min-width:500.5px)
{

    #projectContainer 
    {
        width: 100%;
        background-color: inherit;
    }
    
    .projectType 
    {
        width: 30%;
        padding: 1rem;
    }

    .projectType:nth-of-type(2) 
    {
        margin-left: auto;
        margin-right: auto;
    }

    .projectType:last-of-type 
    {
        float: right;
    }
}
  
@media screen and (max-width:500.5px)
{
    .projectType 
    {
        width: 100%;
        margin-top: .5rem;
        margin-bottom: .5rem;
        margin-right: 0rem;
    }       

    .projectType:first-of-type
    {
        margin-top: 0rem;
    }

    .projectType:last-of-type 
    {
        margin-bottom: 0rem;
    }
}

@media screen and (max-width:470.5px) 
{
    header 
    {
        font-size: 2rem;
    }   
}

@media screen and (max-width:346.5px) 
{
    header 
    {
        font-size: 1rem;
    }   
}