:root 
{
    --displayMode: inline-block;
    --firstMargin: 1rem 2rem 1rem 0rem;
    --secondMargin: 1rem 2rem 1rem 0rem;
    --thirdMargin: 1rem 2rem 1rem 0rem;
    --fourthMargin: 1rem 2rem 1rem 0rem;
    --fifthMargin: 1rem 2rem 1rem 0rem;
    --sixthMargin: 1rem 2rem 1rem 0rem;
    --lastMargin: 1rem 0rem 1rem 0rem;
}

#devEnv li 
{
    width: 50%;
    text-align: center;
}

#intro 
{
    background-color: var(--backgroundColor);
    color: black;
}

#intro .layerContent 
{
    padding: 1rem;
}

.layerContent, #intro 
{
    padding: 0rem;
}

#projectContainer 
{
    background-color: var(--mainColor);
}

#projectList 
{
    list-style-type: none;
    display: flow-root;
    width: fit-content;
    margin: 0 auto;
    padding: 1rem;
}

#projectList li
{
    float: left;
    position: relative;
    padding: 1rem;
    margin: 1rem 1rem 1rem 0rem;
    border: 1px solid white;
    border-radius: 1rem;
}

#projectList li:hover .overlayProject 
{
    display: block;
}

.overlayProject 
{
    position: absolute;
    display: none;
    border: inherit;
    border-radius: inherit;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    color: black;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, .5);
}

.overlayProject a
{
    color: inherit;
    display: block;
    background-color: white;
    padding: 1rem;
    position: relative;
    top:50%;
    transform: translateY(-50%);
}

#projectList li:last-child 
{
    margin-right: 0rem;
}

.project 
{
    padding: 1rem;
    border-radius: inherit;
    font-weight: bolder;
}

.project img 
{
    background-color: white;
    border-radius: inherit;
    padding: 1rem;
    width: 8rem;
    height: 8rem;
}

@media screen and (max-width: 500.5px) 
{
    #intro .layerContent 
    {
        padding: 0rem 0rem;
    }

    #devEnv li 
    {
        width: 100%;
    }
}

@media screen and (max-width: 475.5px) 
{
    #projectList li 
    {
        float: none;
        margin-right: 0rem;
    }

    #projectList 
    {
        padding: 0;
    }
}

@media screen and (max-width: 444.5px) 
{
    #intro h3 
    {
        display: inline;
    }
}

@media screen and (max-width:223.5px) 
{
    #projectContainer
    {
        padding: 0rem;
    }
}

@media screen and (max-width:200.5px) 
{
    #projectList li 
    {
        padding: 0rem;
    }
}

@media screen and (max-width:183.5px) 
{
    html 
    {
        font-size: 0.7rem;
    }
}
