#headerTitle
{
    letter-spacing: 5px;
}

#intro
{
    margin: 0;
    padding: 0;
}

#debuggingImgContainer 
{
    border: 1px solid black;
    padding: 1rem;
}

#debuggingImgContainer img 
{
    width: 20rem;
}

#reportBugContainer 
{
    display: block;
}

#formContainer
{
    text-align: start;
    letter-spacing: 1px;
    color: white;
}

#softwareInfo 
{
    float: right;
    width: fit-content;
    padding: 1rem;
}

#softwareInfo span 
{
    top: 0;
    color: white;
}

#clientContactInfo 
{
    float: left;
    padding: 0;
    width: fit-content;
}

#clientContactInfo table 
{
    width: 32rem;
    max-width: 100%;
}

#clientContactInfo input 
{
    width: 100%;
}

#clientMessage 
{
    float: none;
    width: 100%;
    padding: 0;
    clear: both;
}

#dataNotFoundContainer 
{
    margin-top: 0;
    padding: 0;
}

#dataNotFoundContainer .layerContent 
{
    padding: 0;
    padding-bottom: 1rem;
}