body 
{
    background-color: transparent;
}

#submitted 
{
    color: white;
    width: 100%;
    line-height: 1.6;
    position: relative;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

#submitted div
{
    background-color: var(--blk);
    color: white;
    padding: 1rem;
    border: 2px solid;
    border-radius: 1rem;
    text-align: center;
    width: 100%;
    position: absolute;
    top:50%;
    translate: 0% -50%;
    left: 0%;
}

#submitted div h1:first-child 
{
    color: var(--grn);
}

#submitted div p:first-of-type
{
    font-size: 1.2rem;
    font-style: normal;
}

#submitted a 
{    
    display: block;
    background-color: rgb(240, 240, 240);
    border-radius: 1rem;
    color: black;
    font-weight: bold;
    width: 100%;
    height: 2rem;
    margin-top: 1rem;
    padding: 0.3rem;
    cursor: pointer;
}

#submitted a:hover 
{
    background-color: rgb(232, 232, 232);
}