#searchPanel
{
    text-align: start;
    display: flow-root;
}

#searchPanel input 
{
    margin: .4rem 0;
    width: 90%;
}

#addNewButton 
{
    background-color: transparent;
    border: none;
    display: block;
    float: right;
    margin-right: 1rem;
    cursor: pointer;
}

#addNewButton img
{
    background-color: transparent;
    width: 3.1rem;
    height: 3.1rem;
}

#dataContainer 
{
    padding-bottom: 0;
}

#displayer 
{
    width: 100%;
    border-spacing: 0px;
}

tr 
{
    border: 1px solid black;
}

th, td 
{
    padding: 0rem;
}

th
{
    letter-spacing: 2px;
    padding-bottom: 1rem;
}

td 
{
    border: 1px solid black;
    border-collapse: collapse;  
}

td:hover:not(.noData) 
{
    background-color: #DCEAF2;
}

#displayer th:nth-child(2) 
{
    text-align: start;
    padding-left: 0.5rem;
}

.col1
{
    background-color: white;
    color: black;
    text-align: start;
    padding-left: .5rem;
}

.selector
{
    width: 1rem;
    background-color: lightgray;
    border: 1px solid black;
    color: black;
    padding: .3rem;
}

.command 
{
    min-width: 1rem;
    width: 4%;
    border: none;
    cursor: pointer;
}

.command button 
{
    display: block;
    width: 100%;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.command button img
{
    background-color: transparent;
    width: 70%;
    max-height: 2rem;
}

.noData 
{
    border: none;
    font-weight: bold;
}

.recordTracker 
{
    padding: .5rem;
    margin-top: 1rem;
    text-align: start;
}

 
@media screen and (max-width:671.5px) 
{
    #addNewButton 
    {
        margin-right: 0;
    }    
}

@media screen and (max-width:511.5px) 
{
    #searchPanel input 
    {
        width: 80%;
    }
}

@media screen and (max-width:263.5px) 
{
    #searchPanel input 
    {
        width: 70%;
    }
}