#headerTitle 
{
    letter-spacing: 4px;
}

#loginContainer 
{
    width: 50%;
    margin: 0 auto;
}

form 
{
    border: 1px solid;
    padding: 1rem;
    border-radius: 1rem;
}

input[type=submit] 
{
    margin-top: 0rem;
}

#rememberMeContainer 
{
    padding: 1rem;
}

#rememberMeContainer input, #rememberMeContainer label
{
    display: initial;
    width: fit-content;
}

@media screen and (max-width:600.5px) 
{
    #loginContainer  
    {
        width: 100%;
    }
}

@media screen and (max-width:425.5px) 
{
    #headerTitle {
        font-size: 1.4rem;
    }
}