select 
{
    color: black;
    border: none;
    border-radius: 1rem;
    font-size: 1.1rem;
    padding: 0.5rem;
    display: block;
}

#data 
{
}

#groups 
{
    display: flow-root;
}

#group1, #group2, #group3 
{
    border-radius: 1rem;
    min-width: 33.33%;
    float: left;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

#group3 
{
    min-width: 30.33%;
    margin-right: 0;
    border: 1px solid;
}

table 
{
    width: 100%;
    border: 1px solid;
    border-radius: 1rem;
    padding-bottom: .5rem;
    overflow: hidden;
}

th 
{
    padding: 1rem;
}

label, input, select, td
{
    text-align: start;
}

#descriptionContainer 
{
    border: 1px solid;
    border-radius: 1rem;
    padding: .5rem;
    clear: both;
}

#descriptionContainer p 
{
    padding: .5rem;
}

#descriptionContainer textarea 
{
    width: 100%;
}

#saveButtonContainer
{
    margin-top: 1rem;
}

#saveButton
{
    padding: .5rem;
    display: block;
    width: 100%;
    font-weight: bold;
    border-radius: 1rem;
}