table
{
    border-spacing: 0;
    width: 100%;
    border-collapse: collapse;
}

th 
{
    border: 1px solid;
    background-color: lightgray;
    color: black;
    border-bottom: none;
    padding: .5rem;
    font-size: .9rem;
    letter-spacing: 2px;
    overflow-wrap: break-word;
    font-size: .9rem;
}

th:first-of-type 
{
    background-color: inherit;
    border: none;
}

td 
{
    background-color: white;
    color: black;
    border: 1px solid;
    border-top: none;
    padding: .5rem .1rem;
    overflow-wrap: break-word;
    font-size: .9rem;
}

.responsiveRow 
{
    display: none;
    float: left;
    border: none;
    width: 20%;
    max-width: 100%;
    font-weight: bold;
    background-color: inherit;
    color: white;
    letter-spacing: 1px;
}

.headerIcon
{
    width:1.48rem;
    height: 1.48rem;
    display: block;
    margin: auto;
}

.proLang 
{
    max-width: 1%;
}

.bool
{
    max-width: 1%;
}

.selector
{
    width: 1rem;
    background-color: lightgray;
    border: 1px solid black;
    color: black;
    padding: .3rem;
}

.command 
{
    min-width: 1rem;
    width: 4%;
    border: none;
    background-color: transparent;
}

.command button 
{
    display: block;
    width: 100%;
    padding: 0;
    background-color: transparent;
    border: none;
}

.command button img
{
    background-color: transparent;
    width: 70%;
    max-height: 2rem;
}

@media screen and (max-width:891.5px) and (min-width:624.5px)
{
    #dataContainer 
    {
        padding: 1rem 0rem;
    }

    th, td, tr 
    {
        font-size: .7rem;
    }
}

@media screen and (max-width:752.5px) and (min-width:624.5px)
{
    th, td, tr 
    {
        font-size: .6rem;
    }  
}

@media screen and (max-width:654.5px) and (min-width:624.5px)
{
    th, td, tr 
    {
        font-size: .5rem;
    }  
}

@media screen and (max-width:624.5px)
{

    .command 
    {
        width: 50%;
        max-width: 100%;
        padding: 0;
        margin-top: .7rem;
    }
    .command button img 
    {
        width: 20%;
    }

    table, tbody 
    {
        display: flow-root;
        width: 100%;
    }

    td
    {
        padding-left: .3rem;
        display: block;
        float: left;
        width: 80%;
        border-bottom: 1px solid;
    }

    .responsiveRow 
    {
        display: block;
    }

    .headerIcon 
    {
        margin: initial;
    }

    tr 
    {
        display: flow-root;
        width: 100%;
        border: 1px solid;
        border-radius: 1rem;
        padding: 1rem;
        margin: 0 auto;
        margin-bottom: .5rem;
        text-align: start;
    }

    tr:first-child, .selector 
    {
        
        display: none;
    }

}

@media screen and (max-width:425.5px)
{
    tr 
    {
        padding: 1rem .5rem;
    }
}
