.carouselContainer 
{
    padding: .5rem;
    border: 1px solid black;
    border-radius: 1rem;
    overflow: hidden;
}

.carouselContent
{
    height: 400px;
    max-height: 100vw;
    position: relative;
}

.carouselImg
{
    cursor: pointer;
    position: relative;
    transition: left 0s;
    transition-timing-function: linear;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: 0 auto;
    max-height: 100vw;
    object-fit: fill;
}

.carouselButtons 
{
    cursor: pointer;
    display: block;
    position: absolute;
    z-index: 2;
    color: inherit;
    font-weight: bold;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    padding: .5rem 0;
    top: 50%;
}

.next
{
    right: 0px;
}

.carouselButtons:hover 
{
    border: 1px solid;
    color: black;
    background-color: white;
}

.thumbnailContainer 
{
    position: relative;
    z-index: 1;
    color: inherit;
    background-color: inherit;
    margin-top: .5rem;
    padding: .5rem;
    border-radius: 1rem;
    text-align: center;
    border: 1px solid;
}

.dot 
{
    width: 15px;
    height: 15px;
    margin: 0 .2rem;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid;
    transition: background-color 0.6s ease;
}

.active, .dot:hover 
{
    background-color: white;
}

/*MODALS*/
.carouselModalView {
    display: none; 
    position: fixed;
    z-index: 1000;
    padding-top: 1rem; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.closeCarouselModalView {
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 2.5%;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .carouselModalImg {
    margin: auto;
    display: block;
    width: 80%;
    height: auto;
  }

/*MEDIA QUERY*/
@media screen and (max-width:500px) 
{
    .carouselModalView {
        padding-top: 4rem;
    }
    .carouselModalImg {
        width: 100%;
    }

    .carouselImg 
    {
        width: 100%;
        height: auto;
    } 
}