:root
{
    --gmailTop: -2.3rem;
}

/*HEADER*/
header
{
    background-color: var(--headerFooterColor);
    color: white;
    padding: 0 0.5rem;
    font-family: var(--titleFont);
    font-size: 1rem;
}

#headerTitle 
{
    padding: 1rem 1rem;
    text-align: center;
    font-family: inherit;
}

#headerTitle h6 
{
    font-family: inherit;
    margin-top: 0.5rem;
}

#headerTitle img 
{
    width: 20rem;
}

/*FOOTER*/
footer
{
    clear: both;
    font-size: 0.8rem;
    margin-top: 1rem;
    text-align: center;
    color: white;
    padding: 0.5rem;
    background-color: var(--headerFooterColor);
}

#intro 
{
    margin-top: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    background-color: var(--backgroundColor);
    color: black;
    font-family: var(--titleFont);
}

#intro span 
{
    font-family: inherit;
}

.contactMeLink 
{
    font-family: inherit;
    clear: both;
}

/*MAIN*/
.container
{
    margin-top: 1rem;
    line-height: 1.6;
    text-align: center;
    padding:1rem;
    background-color: var(--mainColor);
    color:var(--backgroundColor);
}

.layer 
{
    background-color: inherit;
    color: inherit;
    display: flow-root;
    font-family: inherit;
}

.layer img 
{
    width: 4rem;
    height: 4rem;
}

.layerTitle 
{
    padding: 1rem;
    position: sticky;
    z-index: 99;
    top: 3rem;
    left: 0px;
    width: 100%;
    background-color: var(--mainColor);
    color: inherit;
    text-align: center;
}

.layerContentTitle 
{
    color: inherit;
    padding: 1rem;
    font-family: inherit;
    text-align: center;
}

.layerContent
{
    display: flow-root;
    background-color: inherit;
    padding: 1rem;
    color: inherit;
    position: relative;
    z-index: 1;
    font-family: inherit;
    text-align: start;
}

.buttonStyle 
{
    border-radius: 1rem;
    display: block;
    padding: 1rem 0rem;
    width: 10rem;
    font-weight: bold;
    margin: 0.5rem auto;
    text-decoration: none;
    background-color: var(--headerFooterColor);
    color: var(--backgroundColor);
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
}

.buttonStyle:hover 
{
    cursor: pointer;
    background-color: var(--navbarbackground);
}

/*PRODUCTS*/
#products, #getInTouch 
{
    border: 1px solid black;
    background-color: var(--mainColor);
}

#products .layerContent 
{
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem;
    margin-top: 0.5rem;
    background-color: inherit;
}

#devEnv 
{
    list-style-type: none;
    width: inherit;
    display: flow-root;
    font-family: 'Archivo Black', sans-serif;
}

#devEnv li 
{
    font-family: inherit;
    border: 1px solid black;
    width: 33.33%;
    float: left;
}

#devEnv li:first-of-type 
{
    background-color: var(--desktopBackground);
}

#devEnv li:nth-last-of-type(2)
{
    background-color: var(--mobileBackground);
}

#devEnv li:last-of-type
{
    background-color: var(--webBackground);
}

#devEnv li a 
{
    text-decoration: none;
    width: 100%;
    color: var(--backgroundColor);
    background-color: inherit;
    display: block;
    padding: 1.5rem 1rem;
    font-family: inherit;
}

#devEnv li a div 
{
    position: relative;
    background-color: inherit;
    width: 100%;
    font-family: inherit;
}

#devEnv li a div p:first-child 
{
    position: inherit;
    font-family: inherit;
}

#devEnv li a div p:nth-child(2) 
{
    position: absolute;
    background-color: inherit;
    width: 100%;
    left: 0px;
    top: 0px;
    opacity: 0;
    transition: .2s;
    font-family: inherit;
}

#devEnv li a div p:nth-child(2):hover 
{
    opacity: 1;
}

.skillBelt 
{
    padding: 0rem;
    display: flow-root;
}

/*GET IN TOUCH*/
#getInTouch
{
    margin-top: 1rem;
    display: flow-root;
    text-align: start;
    color: white;
    background-color: var(--mainColor);
}

#getInTouch .layerContent 
{
    background-color: inherit;
    color: inherit;
}

@keyframes hello 
{
    0% 
    {
        top: 1rem;
    }

    100% 
    {
        top: var(--gmailTop);
    }
}

#contactFormContainer 
{
    float: right;
    position: relative;
    width: 60%;
    background-color: inherit;
}

#gmailContainer 
{
    position: absolute;
    background-color: var(--mainColor);
    top: 1rem;
    margin-left: 0.3rem;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    z-index: 2;
}

#formContainer 
{
    border: 0.1rem solid var(--backgroundColor);
    display: inherit;
    background-color: inherit;
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
    z-index: 2;
}

#formTitle 
{
    position: absolute;
    width: 100%;
    left: 0px;
    top:-1rem
}

#formTitle h3 
{
    width: fit-content;
    background-color: var(--mainColor);
    padding: 0 1rem;
    margin: 0 auto;
}

#clientMessage 
{
    float: right;
}

#clientContactInfo 
{
    float: left;
}

#clientContactInfo label 
{
    margin-top: 0.5rem;
}

#clientContactInfo label:first-child 
{
    margin-top: 0rem;
}

#clientContactInfo, #clientMessage 
{
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    width: 50%;
}

form input, form label, form textarea
{
    display: block;
    width: 100%;
}

label 
{
    padding: 0.3rem;
}

input, textarea 
{
    color: black;
    border: none;
    border-radius: 1rem;
    font-size: 1.1rem;
    padding: 0.5rem;
    overflow:auto;
    resize:none;
}

input[type="submit"], input[type="button"]
{
    margin-top: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--backgroundColor);

}

input[type="submit"]:hover, input[type="button"]:hover
{
    background-color: #F0F0F0;
}

form span 
{
    color: red;
    position: relative;
    left: 0px;
    top:0.2rem;
}

#mandatoryWarning 
{
    clear: both;
    padding:0.5rem;
    font-style: italic;
    font-size: 0.8rem;
}

#mandatoryWarning span 
{
    position: initial;
    font-weight: bolder;
}

#contactDetails 
{
    float: left;
    width: 33%;
    border-radius: 1rem;
    text-align: center;
}

.contactContainer
{
    padding: 0.5rem;
}

.contactContainer:first-of-type
{
    float: left;
    width: 11rem;
}

.contactContainer:last-of-type
{
    float: right;
    width: 8rem;
}

.contactContainer img 
{
    width: 5rem;
    height: 5rem;
}

/*MEDIA QUERY*/
@media screen and (max-width:978px) and (min-width:700.5px) 
{
    .contactContainer:first-of-type, .contactContainer:last-of-type
    {
        float: none;
        width: 100%;
    }

    #formContainer 
    {
        padding: 1rem .5rem;
    }

    #clientContactInfo, #clientMessage  
    {
        padding: 0.2rem;
    }

    #clientMessage 
    {
        padding-left: 0.5rem;
    }
}

@media screen and (max-width:700px)
{
    #clientContactInfo, #clientMessage 
    {
        float: none;
        width: 100%;
    }

    #contactDetails 
    {
        width: 100%;
    }

    #contactFormContainer 
    {
        margin-top: 3rem;
        width: 100%;
    }

    :root 
    {
        --gmailTop:-2.3rem;
    }
}

@media screen and (max-width:500.5px) 
{

    #getInTouch h2 
    {
        text-align: center;
    }

    #headerPanel section 
    {
        padding: 1rem;
    }

    .layerTitle, .layerContent 
    {
        padding: 0.5rem;
    }

    #devEnv li 
    {
        float: none;
        width: 100%;
    }
}

@media screen and (max-width:425.5px) 
{
    #clientContactInfo, #clientMessage  
    {
        padding: 0.2rem 0rem;
    }
}

@media screen and (max-width:355.5px) 
{
    .contactContainer:first-of-type, .contactContainer:last-of-type 
    {
        float: none;
        width: 100%;
    }
}

@media screen and (max-width:302.5px) 
{
    #formTitle
    {
        position: static;
    }
}

@media screen and (max-width:259.5px) 
{
    #headerTitle {
        padding: 0.5rem;
    }
}

@media screen and (max-width:242.5px) 
{
    #headerTitle 
    {
        padding: 0rem;
    }

    header 
    {
        padding: 0rem;
    }
}