/*NavBar*/
nav {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background: var(--navbarbackground);
    width: 100%;
    color: white;
    position: sticky;
    z-index: 100;
    top: 0px;
}

nav .responsiveImg
{
    width: 2.4rem;
    height: 2.4rem;
}

/*NavBarLogo*/
#navBarLogo 
{
    margin: 0.5rem 0.5rem;
    display: none;
    float: left;
}

#navBarLogo a 
{
    cursor: pointer;
    display: block;
    width: inherit;
    height: inherit;
}

/*NavBarList*/
#navBarList {
    background-color: inherit;
    list-style-type: none;
    display: flow-root;
}

#navBarList #goToGetInTouch  
{
    display: none;
}

#navBarList li {
    display: block;
    background-color: inherit;
    float: left;
}

#navBarList li a {
    background-color: inherit;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    color: var(--white);
    text-align: center;
    line-height: 1.6;
    padding: 1.1rem 0.9rem;
}

#navBarList li span 
{
    padding: 0rem;
    display: block;
    width: 0%;
    margin: 0 auto;
    background-color: var(--backgroundColor);
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.animateSpan 
{
    animation-name: example;
}

#navBarList li a:hover 
{ 
    background-color:var(--navbarhover);
}

@keyframes example 
{
    0%   {width: 1%; padding: 0.05rem;}
    100% {width: 100%; padding: 0.05rem;}
}

/*GROUPS*/
#leftGroup
{
    width: fit-content;
    float: left;
}

#centerGroup
{
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: fit-content;
    margin: auto;
    display: flow-root;
}

#rightGroup
{
    width: fit-content;
    float: right;
}

#rightGroup li a
{
    padding: 0.5rem 0.5rem;
}

/*DropDowns*/
.dropdown 
{
    position: relative;
}

.dropdownContent {
    background: var(--navbarbackground);
    display: none;
    cursor: pointer;
    width: fit-content;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

#navBarList .dropdownContent a
{
    text-align: start;
    padding: 1.1rem 0.9rem;
}

.dropdown:hover .dropdownContent { display: block; }

.dropdownContent a:hover { background-color:var(--navbarhover); }

#centerGroup .dropdownMoved
{
    display: none;
}

/*Hamburger*/
#hamburgerDropDown {
    display: flow-root;
    background-color: inherit;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#hamburgerIcon {
    display: none;
    background-color: inherit;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#hamburgerIcon img {
    background-color: transparent;
    width: 2rem;
    height: 2rem;
}

/*MEDIA QUERY*/
@media screen and (max-width: 800.5px)  
{
    #navBarLogo 
    {
        margin: 0.5rem 0rem;
    }
     
    #centerGroup
    {
        position: static;
        margin: 0;
    }
}

@media screen and (max-width: 651.5px)  
{
 
    #navBarList 
    {
        padding-bottom: 0.5rem;
    }

    #navBarLogo 
    {
        display: none;
    }

    #hamburgerIcon { display: block; }

    #navBarList #home, #navBarList #goToGetInTouch
    {
        display: block;
    }

    #rightGroup 
    {
        display: none;
    }

    #leftGroup, #centerGroup
    {
        float: left;
        margin: initial;
        width: 100%;
    }

    #navBarList li
    {
        float: none;
        width: 100%;
    }
    
    nav .responsiveImg 
    {
        margin: 0em;
        margin-left: auto;
    }

    #navBarList li a 
    {
        text-align: start;
        padding: 1rem;
        width: 100%;
    }

    #hamburgerDropDown 
    {
        display: none;
        position: absolute;
        overflow: visible;
        left: 0em;
        padding-bottom: 0rem;
        z-index: 1;
    }

    .dropdownContent 
    {
        left: 7rem;
        top: 0rem;   
    }

    #navBarList .dropdownContent a {
        text-align: start;
        padding: 1rem;
        width: 100%;
    }
}

@media (pointer:coarse) and (max-width: 651.5px)   
{
    .dropdownContent, .dropdown:hover .dropdownContent { display: none; }

    #centerGroup li 
    {
        width: 50%;
    }

    #centerGroup li:last-of-type 
    {
        width: 100%;
    }

    #centerGroup .dropdownMoved
    {
        display: block;
        width: 50%;
        float: right;
    }
}