* 
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root
{
    --headerFooterColor:#0066b2;
    --mainColor:#34568B;
    --backgroundColor: #EDF1FF;
    --navbarbackground: #0072B5;
    --navbarhover:#34568B;
    --backblue: #92B6D5;
    --desktopBackground: #CD212A;
    --mobileBackground: #926AA6;
    --webBackground: #0072B5;
}

body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--backgroundColor);
}

#wrapper 
{
    background-color: inherit;
    font-family: inherit;
}

h1, h2, h3 
{
    font-family: 'Archivo Black', sans-serif;
}

p, a, span, label 
{
    font-family: 'Jost', sans-serif;
}

.responsiveImg 
{
    overflow: hidden;
    width: 20vw;
    height: 20vw;
    margin: 0 auto;
}

.responsiveImg img 
{
    width: inherit;
    height: inherit;
    display: block;
    margin: 0 auto;    
}

/*
.verticallyCentered
{
    width: 100%;
    left: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
*/